# macOS system files
.DS_Store

# XAMPP files
/htdocs/
!htdocs/animal-foods/  # Exclude your project folder
/xamppfiles/

# PHP Composer dependencies
/vendor/

# Composer global files
/composer.phar
/composer.lock

# Environment specific files
/.env
/.env.local

# IDE/Editor specific files
/.idea/     # JetBrains PhpStorm
*.sublime-* # Sublime Text
.vscode/    # Visual Studio Code

# Logs
*.log

# Others
node_modules/
tmp/
cache/
